* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    padding: 2rem;
}

nav {
    margin-top: 2rem;

    a {
        margin-right: 1rem;
        color: white;
        text-decoration: none;


        &.active {
            text-decoration: underline;
            color: violet;
        }
    }
}

header {
    background-color: black;
    color: white;
}